.formWrapper{
display: flex;
justify-content: center;
}
.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(201 200 200);
}
.registerNames{
    display: flex;
}
.registerNames span:first-child{
    margin-right: 10px;
}
.registerTitle{
    display: flex;
    align-items: center;
}
.registerTitleLine{
    margin: 4px;
    height: 0.5vh;
    width: 15vw;
    background-color: gray;
}
.registerTerms{
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: gray
}