*{
  margin: 0;
  padding: 0;
}
#navbar{
  background-color: rgb(37, 17, 25);
  font-size: smaller;
  display: flex;
  width: 100vw;
}
.nav-link{
  margin: 2px;
  width: 10%;
  font-size: 7px;
  text-decoration: none;
  color: white;
  transition: 1s;
  border-bottom: 1px solid  rgb(37, 17, 25);
  }
  .nav-link:hover{
    border-bottom-color: red;
  }
.nav-link-li{
  padding: 5px;
}
  #navbar-ul{
  width: 85vw;
  overflow: hidden;
  justify-content: flex-end;
  display: flex;
list-style: none;
}
#myName{
  width: 27vw;
  padding: 5px;
  /* margin-right: 9vw; */
}
#firstName{
  color: red;
}
#lastName{
  color: white;
}
