 <a href="/"><h1  id="logo"><span id="firstName">GAL</span><span id="lastName">ATANW</span></h1></a>
    <nav id="topNav">
            <ul id="topNavUl">
               <li><a href="/sorted">SORTED</a></li> 
                <li><a href="/main.html">CRUD</a></li> 
               {{!-- <li><a href="/views/mentoring">mentoring</a></li>  --}}
               {{!-- <li><a href="/views/testimonials">testimonials</a></li>  --}}
               {{!-- <li><a href="/views/event">event</a></li>  --}} 
            </ul> 
        </nav>
        <a id="topNavBtn" href="/views/contact"><button>contact</button></a>
        