    <div id="info">
        <article>
            <button onclick="play()" id="play">⏸</button>
        </article>
        <article id="infoText" class="infoTextAnimation">
            <h5> 
                GAL ATANW , software developer
            </h5>
            <h5>businnes.galatanw@gmail.com</h5>
             <h5>{{date}}</h5> 
        </article>
    </div>
    <div id="content">
        <h1>Hi <br>my name is Gal Atanw<br> and I'm a software developer in the making   </h1>
        <img id="mainBack" src='./images/index/indexContentBack.jpg'>
    </div>