<div>
<section>
<h1 id="title">
    here you will see all the accepted
</h1>
<ul>
{{>accepted}}
</ul>
</section>
<section>
<h1 id="title">
    if you are not accepted
</h1>
<ul>
{{>unaccepted}}
</ul>
</section>
</div>